/* Main.css - Using Little Lemon Design System */
main {
  grid-area: main;
  min-height: 60vh;
  color: var(--color-secondary-dark-grey);
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

